<nav class="mb-1 navbar navbar-expand-lg navbar-dark primary-color" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <a class="navbar-brand" style="color:white" href="/" th:text="#{ARTICLE_MANAGE}"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">

        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="/category" th:text="#{article.cate}"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-twitter"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light">
                    <i class="fab fa-google-plus-g"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-globe"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a id="lang_kh" class="dropdown-item" th:href="@{''(language=kh)}">ភាសាខ្មែរ</a>
                    <a id="lang_en" class="dropdown-item" th:href="@{''(language=en)}">English</a>
                    <a id="lang_kr" class="dropdown-item" th:href="@{''(language=kr)}">한국어</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<!--<script !src="">-->
<!--    var en = document.getElementById("lang_en");-->
<!--    var kh = document.getElementById("lang_kh");-->
<!--    var kr = document.getElementById("lang_kr");-->
<!--    console.log(window.location.href);-->
<!--    en.setAttribute('href', window.location.href + '/?language=en');-->
<!--    kh.setAttribute('href', window.location.href + '/?language=kh');-->
<!--    kr.setAttribute('href', window.location.href + '/?language=kr');-->
<!--    console.log(en);-->
<!--    console.log(kh);-->
<!--    console.log(kr);-->
<!--</script>-->