<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Bayon&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../shards.min.css">

    <link href="https://fonts.googleapis.com/css?family=Battambang|Roboto" rel="stylesheet"/>

    <title th:text="${isAddCat}?'__#{add_new_category}__':'__#{edit_category}__'">Add New Category</title>

</head>
<body>
<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Body -->
<div class="container">

    <form class="form-horizontal" th:action="${isAddCat}?'/category/add-category/save':'/category/update-cate/save'" method="POST">
        <input type="hidden" th:field="${category.cat_id}" />
        <div class="form-group">
            <label class="col-sm-2 control-label" th:text="#{category.name}">Category Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Category Name" th:placeholder="#{category.name }" th:field="${category.cat_title}"/>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default" th:text="${isAddCat}?'__#{btn.save_category}__':'__#{btn.update_category}__'">Save</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>
