<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{ARTICLE_MANAGE}">Article management</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link href="https://fonts.googleapis.com/css?family=Bayon&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../shards.min.css">
</head>

<body>

<div th:replace="fragments/header :: header"></div>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <a href="/add" class="btn btn-primary btn-lg mt-3 mb-3" role="button" aria-pressed="true" th:text="#{ADD_NEW_ARTICLE}">Add new article</a>

        </div>
        <div class="col-md-3">
            <a href="/category/add-category" class="btn btn-primary btn-lg mt-3 mb-3" role="button" aria-pressed="true" th:text="#{add_new_category}">Add new Category</a>

        </div>
        <div class="col-md-6 mt-4">
            <form class="navbar-form navbar-left" action="/" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" th:placeholder="#{header.search}" th:field="${category.cat_title}" />
                    <select class="form-control" th:field="${category.cat_id}">
                        <option value="">All Article</option>
                        <option th:each="category : ${categories}" th:value="${category.cat_id}" th:text="${category.count_cat}!=null?${category.cat_title} +'('+ ${category.count_cat}+')':${category.cat_title} +'(0)'" >Category</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-center p-5" th:if="${hasArticle}==0">
        <h1 th:text="#{search.notfound}">Search not found</h1>
    </div>
    <div th:each="article : ${articles}" th:object="${article}" class="list-group card z-depth-0 bordered" id="accordionExample">

        <a href="#!" class="accordion list-group-item list-group-item-action flex-column align-items-start" data-toggle="collapse"
           th:attr="data-target='#collapse' + *{id}"  aria-expanded="false" aria-controls="collapseThree">
            <div class="col-sm-2 col-md-4 col-lg-4 md-v-line" th:text="*{id}">

            </div>
            <div class="col-sm-10 col-md-12 col-lg-12">
                    <div class="d-flex justify-content-between">
                    <h5 th:text="|*{title} ( *{cat_title} )|" class="mb-2 h5" >List group item heading</h5>
                    <small class="text-muted text-end" th:text="*{createdDate}">3 days ago</small>
                </div>
                <p class="mb-2" th:text="*{description}">Don id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius
                    blandit.</p>
                <small class="text-muted" th:text="'By ' + *{author}"></small>
            </div>

        </a>
        <div th:id="'collapse' + *{id}" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    <a th:href="@{/delete/{id}(id=*{id})}" class="btn btn-primary btn-lg mt-1 mb-1" role="button" aria-pressed="true" th:text="#{DELETE_ARTICLE}">Delete article</a>
                    <a th:href="@{/update/{id}(id=*{id})}" class="btn btn-primary btn-lg mt-1 mb-1" role="button" aria-pressed="true" th:text="#{UPDATE_ARTICLE}">Update article</a>
                    <a th:href="@{/detail/{id}(id=*{id})}" class="btn btn-primary btn-lg mt-1 mb-1" role="button" aria-pressed="true" th:text="#{VIEW}">View article</a>
                </div>
        </div>

    </div>

    <div class="row justify-content-center mt-3">
        <nav th:if="${paging.totalCount}>7" th:remove="tag" aria-label="Page navigation example">
            <ul class="pagination pagination-circle pg-blue">
                <li class="page-item"><a class="page-link" th:href="@{/(page=1, cat_id=${category.cat_id}, cat_title=${category.cat_title})}">First</a></li>
                <li class="page-item">
                    <a class="page-link" aria-label="Previous" th:href="@{/(page=${paging.prePage}, cat_id=${category.cat_id}, cat_title=${category.cat_title})}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li th:each="i: ${#numbers.sequence(paging.stPage, paging.edPage)}" th:class="${paging.page}==${i}?'page-item active':'page-item'">
                    <a th:text="${i}" class="page-link" th:href="@{/(page=${i}, cat_id=${category.cat_id}, cat_title=${category.cat_title})}">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" aria-label="Next" th:href="@{/(page=${paging.nextPage}, cat_id=${category.cat_id}, cat_title=${category.cat_title})}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" th:href="@{/(page=${paging.totalPage}, cat_id=${category.cat_id}, cat_title=${category.cat_title})}">Last</a></li>
            </ul>
        </nav>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="../static/index.js"></script>
<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
</body>
</html>