<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title th:text="#{UPDATE_ARTICLE}">Update User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/css/mdb.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../shards.min.css">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container mt-5">
    <h2 class="mb-5" th:text="#{UPDATE_ARTICLE}">Update Article</h2>
    <div class="row">
        <div class="col-md-12">
            <form th:action="'/update/?id='+${article.id}+'&image='+${article.image}" th:object="${article}" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <a href="/" class="btn btn-warning text-white" th:text="#{go_back}">Go back</a>
                    </div>
                    <div class="col-md-6 mt-2 mb-2">
                        <input type="submit" class="btn btn-primary" th:value="#{UPDATE_ARTICLE}" value="Update Article">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="col-form-label" th:text="#{article.title}">Title</label>
                        <input type="text" th:field="${article.title}" class="form-control" th:placeholder="#{article.title}">
                        <span th:if="${#fields.hasErrors('title')}" th:errors="${article.title}" class="text-danger">This field require</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label" th:text="#{article.des}">Description</label>
                        <input type="text" th:field="${article.description}" class="form-control" th:placeholder="#{article.des}">
                        <span th:if="${#fields.hasErrors('description')}" th:errors="${article.description}" class="text-danger">This field require</span>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label">Author</label>
                        <input type="text" th:field="${article.author}" class="form-control" placeholder="Author">
                        <span th:if="${#fields.hasErrors('author')}" th:errors="${article.author}" class="text-danger">This field require</span>
                    </div>

                    <div class="input-group">
                        <label class="col-sm-2 control-label" th:text="#{article.cate}">Category</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="sel1" th:field="${article.cat_id}" th:remove="all-but-first">
                                <option th:each="category : ${categories}" th:value="${category.cat_id}" th:text="${category.cat_title}">News</option>
                            </select>
                        </div>
                    </div>

                    <div class="input-group mt-3 col-md-12">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                   aria-describedby="inputGroupFileAddon01" name="file">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.2/js/mdb.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.js"></script>
</body>
</html>